
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .full-width {
    width: 100%;
    padding: 20px;
  }
  .container-fluid {
    height: 90vh;
    width: 90%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
  
  .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px; }
  /* .row {
    text-align: center;
    padding-left: 30px ;
    padding-right: 30px;
    width: auto;
    height: auto;
  } */
  .button-container {
    display: flex;
    /* Sử dụng Flexbox để căn chỉnh ngang */
    justify-content: center;
    /* Tạo khoảng cách giữa các nút */
    align-items: center;
    /* Căn giữa các nút theo chiều dọc */
    gap: 20px;
    margin: 20px;
    /* Khoảng cách giữa các nút */
  }
  
  mat-paginator {
    display: flex;
    justify-content: center;
    margin: 16px 0; /* Khoảng cách trên và dưới */
  }
.title{
  text-align: center;
}

mat-row:hover, tr:hover {
  background-color: #d3d3d3; /* Màu nền khi di chuột */
  transition: background-color 0.3s; /* Hiệu ứng mượt */
}

/* From Uiverse.io by Creatlydev */ 
.button {
  --bg: linear-gradient(180deg,
            hsla(0, 0%, 100%, .1),
            hsla(0, 0%, 100%, 0)),
        hsl(128, 52%, 45%);
  box-shadow: 0 1px 2px #25114f66, 0 0 0 1px hsla(128, 50%, 45%, 0.761);
  background-color: transparent;
  border: none;
  line-height: 1;
  display: flex;
  align-items: center;
  gap: .5rem;
  padding: .25rem .5rem;
  cursor: pointer;
  padding-right: 1rem;
  font-weight: 600;
  color: #fff;
  background: var(--bg);
  white-space: nowrap;
  border-radius: 6px;
  border: 1px solid #fff3;

}
.file-name {
  margin-left: 15px; /* Tạo khoảng cách 15px giữa nút và tên file */
  font-size: 14px;
  color: #333;
  font-weight: bold;
}

.mat-icon{
  margin-right: 10px;
  margin-left: 10px;

}
.button-container {
  display: flex;
  gap: 12px;
  /* Khoảng cách giữa các nút */
  justify-content: flex-start;
  /* Căn trái */
  margin-top: 10px;
  /* Khoảng cách trên */
  padding: 10px 16px;
  /* Tăng kích thước button */
  justify-content: center


}

button {
  min-width: 130px;
  /* Đảm bảo nút không quá nhỏ */
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  /* Căn giữa icon và text */
  justify-content: center;
  /* Canh giữa */
}
