<div class="title">
    <h4> {{year}}年{{month}}月份Fii越南資訊部值班安排時間表 <br>
        LỊCH PHÂN CÔNG TRỰC BAN BỘ PHẬN FII IT THÁNG {{month}} NĂM {{year}}
    </h4>
    <br>
</div>
<div class="full-calendar-container">
    <p>Onsite值班：從18:30到20:30 <br>
        Thời gian trực ban tại chỗ: Từ 18:30 đến 20:30
    </p>
    <!-- <input type="file" (change)="onFileChange($event)" /> -->
    <input type="file" (change)="onFileChange($event)" class="form-control"  />
    <!-- <button (click)="uploadFile()">Upload</button> -->
<br>

    <!-- <select [(ngModel)]="selectedUser" (change)="filterEventsByUser()">
            <option *ngFor="let user of users" [value]="user.uid">{{ user.fullName }}</option>
          </select> -->
    <full-calendar #fullCalendar [options]="calendarOptions">

    </full-calendar>

</div>