<!-- <div class="main-content"> -->
<div class="container-fluid">

  
        <div class="col-md-12">
            <div class="card">
                <div class="card-header card-header-danger">
                    <h2 class="card-title">{{'profile'|translate }}</h2>
                </div>
                <div class="card-body">
                    <form [formGroup]="form">
                        <div class="row">

                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <mat-label>{{'fullname'|translate}}</mat-label>
                                    <input matInput formControlName="fullName">
                                </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <mat-label>{{'email'|translate}}</mat-label>
                                    <input matInput formControlName="email" readonly>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-label>{{'employeeCode'|translate}}</mat-label>
                                    <input matInput formControlName="employeeCode">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4" [formGroupName]="'department'">
                                <mat-form-field class="full-width">
                                    <mat-label>{{'department'|translate}}</mat-label>
                                    <input matInput formControlName="deptName" readonly>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-label>{{'gender'|translate}}</mat-label>
                              
                                    <mat-select formControlName="gender">
                                        <mat-option *ngFor="let gender of genders" [value]="gender.value">
                                            {{ gender.viewValue }}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-label>{{'dateOfBirth'|translate}}</mat-label>
                                    <input matInput [matDatepicker]="picker" formControlName="birthday">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </div>
                            <div class="col-md-4">
                                <mat-form-field class="full-width">
                                    <mat-label>{{'phone'|translate}}</mat-label>
                                    <input matInput type="text" formControlName="mobile">
                                </mat-form-field>
                            </div>
                            <div class="col-md-4" [formGroupName]="'role'">
                                <mat-form-field class="full-width">
                                    <mat-label>{{'Position'|translate}}</mat-label>
                                    <input matInput type="text" formControlName="name" readonly>
                                </mat-form-field>
                            </div>
                        </div>

                        <button mat-raised-button type="submit" class="btn btn-danger pull-right" (click)="update()">{{'update_profile'|translate }}</button>
                        <button type="button" class="btn btn-primary" (click)="openChangePassword()">{{'change_password'|translate }}</button>
                        <div class="clearfix"></div>


                    </form>
                </div>
            </div>
        </div>

   
</div>
<!-- </div> -->