<div class="auth-container">
  <div class="auth-form">
    <h2 class="form-title">
      Reset Password
    </h2>
    <form class="form-content" [formGroup]="form">
      <!-- Email -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Your email</mat-label>
        <input matInput type="email" formControlName="email" id="email" placeholder="mail@fii-foxconn.com" required />
        <button mat-button matSuffix color="primary" class="send-button" (click)="sendOTP()">
          Send
        </button>
      </mat-form-field>
      <!--OTP-->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>OTP</mat-label>
        <input matInput type="text" formControlName="otp" id="otp" placeholder="OTP"  />
      </mat-form-field>

      <!-- New Password -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="password" id="password" placeholder="••••••••"  />
      </mat-form-field>

      <!-- Confirm Password -->
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Confirm Password</mat-label>
        <input matInput type="password" formControlName="confirmPassword" id="confirm-password" placeholder="••••••••"  />
      </mat-form-field>



      <!-- Reset Button -->
      <button mat-raised-button color="primary" type="submit" class="full-width" (click)="resetPassword()">
        Reset Password
      </button>
  
    </form>
    <div class="login">
      <a [routerLink]="['/login']"> Return To login</a>
    </div>

  </div>

</div>