<div class="container-fluid">
  <br>
  <h2 class="title">{{'ProjectManagement' | translate }}</h2>
  <br>
  <form [formGroup]="form">
    <div class="row">
      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'projectName'| translate }}</mat-label>
          <input matInput formControlName="projectName">
        </mat-form-field>
      </div>
      <div class="col"  style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'pic' | translate}} </mat-label>
          <mat-select formControlName="user">
            <mat-option *ngFor="let user of users" [value]="user.uid">
              {{ user.fullName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{ 'CATEGORY' | translate }}</mat-label>
          <mat-select formControlName="categoryId">
            <mat-option *ngFor="let category of categories" [value]="category.categoryId">
              {{ category.categoryName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'location'| translate }}</mat-label>
          <input matInput formControlName="location">
        </mat-form-field>
      </div>
      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'startReceiveRequest'| translate }} </mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="startReceiveRequest">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'startEstimate'| translate }}</mat-label>
          <input matInput [matDatepicker]="picker5" formControlName="startEstimate">
          <mat-datepicker-toggle matSuffix [for]="picker5"></mat-datepicker-toggle>
          <mat-datepicker #picker5></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'endEstimate'| translate }}</mat-label>
          <input matInput [matDatepicker]="picker6" formControlName="endEstimate">
          <mat-datepicker-toggle matSuffix [for]="picker6"></mat-datepicker-toggle>
          <mat-datepicker #picker6></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'startRequestPurchase'| translate }}</mat-label>
          <input matInput [matDatepicker]="picker3" formControlName="startRequestPurchase">
          <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
          <mat-datepicker #picker3></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'startQuotation'| translate }}</mat-label>
          <input matInput [matDatepicker]="picker7" formControlName="startQuotation">
          <mat-datepicker-toggle matSuffix [for]="picker7"></mat-datepicker-toggle>
          <mat-datepicker #picker7></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'startSubmitBudget'| translate }}</mat-label>
          <input matInput [matDatepicker]="picker9" formControlName="startSubmitBudget">
          <mat-datepicker-toggle matSuffix [for]="picker9"></mat-datepicker-toggle>
          <mat-datepicker #picker9></mat-datepicker>
        </mat-form-field>
      </div>
    </div>
    <div class="row">

      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'startPR'| translate }}</mat-label>
          <input matInput [matDatepicker]="picker11" formControlName="startPR">
          <mat-datepicker-toggle matSuffix [for]="picker11"></mat-datepicker-toggle>
          <mat-datepicker #picker11></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'endPR'| translate }}</mat-label>
          <input matInput [matDatepicker]="picker12" formControlName="endPR">
          <mat-datepicker-toggle matSuffix [for]="picker12"></mat-datepicker-toggle>
          <mat-datepicker #picker12></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'startDate'| translate }}</mat-label>
          <input matInput [matDatepicker]="picker13" formControlName="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker13"></mat-datepicker-toggle>
          <mat-datepicker #picker13></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'endDate'| translate }}</mat-label>
          <input matInput [matDatepicker]="picker14" formControlName="endDate">
          <mat-datepicker-toggle matSuffix [for]="picker14"></mat-datepicker-toggle>
          <mat-datepicker #picker14></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col" style="flex: 0 0 20%;">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'search' | translate}} </mat-label>
          <input matInput type="text" formControlName="inputText" (input)="onSearch()" />
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 ">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label>{{'implemetList'| translate}}</mat-label>
          <textarea matInput formControlName="implement" readonly></textarea>
        </mat-form-field>
      </div>
    </div>
  </form>

  <div class="row">
    <div class="col-md-2 ">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'filterName'|translate}}</mat-label>
        <mat-select [(ngModel)]="selectedNames" multiple  (selectionChange)="applyFilter()">
          <mat-option [value]="null" disabled="true">{{ 'all' | translate }}</mat-option>
          <mat-option *ngFor="let name of uniqueNames" [value]="name">{{ name }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-md-2 ">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'filterCategory'|translate }}</mat-label>
        <mat-select [(ngModel)]="selectedCategories" multiple  (selectionChange)="applyFilter()">
          <mat-option [value]="null" disabled="true">{{ 'all' | translate }}</mat-option>
          <mat-option *ngFor="let cate of uniqueCategories" [value]="cate">{{ cate }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="col-md-2 ">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>{{'filterStatus'|translate}}</mat-label>
        <mat-select [(ngModel)]="selectedCompleteds" multiple  (selectionChange)="applyFilter()">
          <mat-option [value]="null" disabled="true">{{ 'all' | translate }}</mat-option>
          <mat-option *ngFor="let status of statusList" [value]="status.statusId">
            {{ status.statusId |translate }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-6">
      <div class="button-container">
        <button type="button" class="btn btn-success" (click)="openDialog()"><mat-icon>add</mat-icon>
          {{'CREATE_PROJECT'| translate}} </button>
        <button type="button" class="btn btn-warning" (click)="update()"><mat-icon>edit</mat-icon>{{'UPDATE_PROJECT'|
          translate}}</button>
        <button type="button" class="btn btn-info" (click)="exportExcel()"><mat-icon>download</mat-icon> {{'EXPORT'|
          translate}}</button>
                  <button type="button" class="btn btn-secondary" (click)="clearData()"><mat-icon>refresh</mat-icon> {{'CLEAR'|
          translate}}</button>
      </div>
    </div>
  </div>
  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name0"> {{'STT' |
          translate}} </th>
        <td mat-cell *matCellDef="let element; let  i = index " [attr.data-index]
          [ngClass]="{'selected-row': selectedRow === element}">
          {{ (paginator.pageIndex * paginator.pageSize) + i + 1 }}
        </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="projectName">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name1" mat-sort-header
          sortActionDescription="Sort by projectName"> {{'TEN_DU_AN' |
          translate}}</th>
        <td mat-cell *matCellDef="let element" (click)="getRecord(element)"
          [ngClass]="{'selected-row': selectedRow === element}"> {{element.projectName}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="pic">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name2" mat-sort-header
          sortActionDescription="Sort by fullName">{{'pic' |
          translate}}</th>
        <td mat-cell *matCellDef="let element" (click)="getRecord(element)"
          [ngClass]="{'selected-row': selectedRow === element}"> {{element.pic.fullName}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name3" mat-sort-header
          sortActionDescription="Sort by category">
          {{'LOAI_HINH_DU_AN' | translate}} </th>
        <td mat-cell *matCellDef="let element" (click)="getRecord(element)"
          [ngClass]="{'selected-row': selectedRow === element}"> {{element.category.categoryName}} </td>
      </ng-container>

      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name3" mat-sort-header
          sortActionDescription="Sort by location">
          {{'location' | translate}} </th>
        <td mat-cell *matCellDef="let element" (click)="getRecord(element)"
          [ngClass]="{'selected-row': selectedRow === element}"> {{element.location}} </td>
      </ng-container>

      <ng-container matColumnDef="document">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name4" mat-sort-header
          sortActionDescription="Sort by description"> {{'document'| translate}}</th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected-row': selectedRow === element}"><a href="#"
            (click)="handleClick($event, element.projectId)">{{'document-list'|translate}}</a> </td>
      </ng-container>
      <ng-container matColumnDef="startDate">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name7" mat-sort-header
          sortActionDescription="Sort by startDate"> {{'startDate' |
          translate}}</th>
        <td mat-cell *matCellDef="let element" (click)="getRecord(element)"
          [ngClass]="{'selected-row': selectedRow === element}"> {{element.startDate}} </td>
      </ng-container>
      <ng-container matColumnDef="endDate">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name7" mat-sort-header
          sortActionDescription="Sort by endDate"> {{'endDate' |
          translate}}</th>
        <td mat-cell *matCellDef="let element" (click)="getRecord(element)"
          [ngClass]="{'selected-row': selectedRow === element}"> {{element.endDate}} </td>
      </ng-container>


      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name5" mat-sort-header
          sortActionDescription="Sort by status"> {{'status' |
          translate}} </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected-row': selectedRow === element}">
          <button [ngClass]="getStatusClass(element)" (click)="confirmChange(element)" class="status-btn">
            {{ getStatusText(element)| translate }}
          </button>
        </td>
      </ng-container>

      <!-- Cột Action -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name6">
          {{'implements'
          | translate}} </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected-row': selectedRow === element}">
          <mat-icon class="action-icon" (click)="showDetails(element.projectId)">open_in_new</mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="delete">
        <th mat-header-cell *matHeaderCellDef [style.background-color]="color" class="mat-column-name6"> {{'delete'
          | translate}} </th>
        <td mat-cell *matCellDef="let element" [ngClass]="{'selected-row': selectedRow === element}">
          <mat-icon class="action-icon" (click)="delete(element.projectId)">delete</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <div class="paginator-container">
      <mat-paginator [pageSizeOptions]="[5, 10, 20,50,100]" showFirstLastButtons
        aria-label="Select page of periodic elements">
      </mat-paginator>
    </div>


  </div>
  <!-- </div>
    </div>
  </div>-->
</div>