table {
  width: 100%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  padding: 20px;
  box-sizing: border-box;
}

.container-fluid {
  text-align: center;
  height: 100%;
}

.row {
  text-align: center;
  padding-left: 30px;
  padding-right: 30px;
  width: auto;
  height: auto;
  align-items: center;

}

.icon {
  font-size: 26px;
  /* Kích thước icon */
  color: #4caf50;
  /* Màu sắc icon */
}

/*  */

.button-container {
  display: flex;
  gap: 12px;
  /* Khoảng cách giữa các nút */
  justify-content: flex-start;
  /* Căn trái */
  margin-top: 10px;
  /* Khoảng cách trên */
  padding: 10px 16px;
  /* Tăng kích thước button */
  justify-content: center


}

button {
  min-width: 130px;
  /* Đảm bảo nút không quá nhỏ */
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  /* Căn giữa icon và text */
  justify-content: center;
  /* Canh giữa */
}


.mat-icon {
  margin-right: 10px;

}

mat-paginator {
  display: flex;
  justify-content: center;
  margin: 16px 0;
  /* Khoảng cách trên và dưới */
}

mat-row:hover,
tr:hover {
  background-color: #d3d3d3;
  /* Màu nền khi di chuột */
  transition: background-color 0.3s;
  /* Hiệu ứng mượt */
}


.status-btn {
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.btn-danger {
  background-color: red;
}

.btn-success {
  background-color: green;
}

.btn-warning {
  background-color: orange;
}

.status-btn:hover {
  opacity: 0.8;
}

.mat-column-name0 {
  width: 70px;
  /* Cố định độ rộng */
  white-space: nowrap;
  /* Ngăn không cho chữ xuống dòng */
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Hiển thị dấu "..." nếu quá dài */
}

.mat-column-name1 {
  width: 550px;
  /* Cố định độ rộng */
  white-space: nowrap;
  /* Ngăn không cho chữ xuống dòng */
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Hiển thị dấu "..." nếu quá dài */
}

.mat-column-name2 {
  width: 350px;
  /* Cố định độ rộng */
  white-space: nowrap;
  /* Ngăn không cho chữ xuống dòng */
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Hiển thị dấu "..." nếu quá dài */
}

.mat-column-name3 {
  width: 150px;
  /* Cố định độ rộng */
  white-space: nowrap;
  /* Ngăn không cho chữ xuống dòng */
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Hiển thị dấu "..." nếu quá dài */
}

.mat-column-name4 {
  width: 250px;
  /* Cố định độ rộng */
  white-space: nowrap;
  /* Ngăn không cho chữ xuống dòng */
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Hiển thị dấu "..." nếu quá dài */
}

.mat-column-name5 {
  width: 00px;
  /* Cố định độ rộng */
  white-space: nowrap;
  /* Ngăn không cho chữ xuống dòng */
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Hiển thị dấu "..." nếu quá dài */
}

.mat-column-name6 {
  width: 100px;
  /* Cố định độ rộng */
  white-space: nowrap;
  /* Ngăn không cho chữ xuống dòng */
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Hiển thị dấu "..." nếu quá dài */
}

.mat-column-name7 {
  width: 150px;
  /* Cố định độ rộng */
  white-space: nowrap;
  /* Ngăn không cho chữ xuống dòng */
  overflow: hidden;
  /* Ẩn phần tràn ra */
  text-overflow: ellipsis;
  /* Hiển thị dấu "..." nếu quá dài */
}

.full-width textarea {
  height: 100px; /* Điều chỉnh chiều cao để hiển thị khoảng 5 dòng */
  resize: none;  /* Ngăn người dùng thay đổi kích thước thủ công */
}
.selected-row {
  background-color: #ADD8E6  !important; /* Màu xanh dương nhạt */
  /* color: #264d46 ; */
  /* font-weight: bold ; */
}
th.mat-sort-header-sorted {
  color: black;
}
