<mat-toolbar class="mat-elevation-z3">

  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon"
    (click)="collapsed.set(!collapsed())">
    <mat-icon>menu</mat-icon>
  </button>
  <span>REPORT MANAGEMENT SYSTEM</span>
  <!-- <span class="example-spacer">đâs</span> -->

  <span class="language-switch">
    <mat-form-field appearance="outline">
      <mat-label>Language</mat-label>
      <mat-select [value]="selectedLanguage()" (selectionChange)="changeLanguage($event.value)">
        <mat-option *ngFor="let lang of languages" [value]="lang.code">
          {{ lang.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </span>
</mat-toolbar>

<mat-sidenav-container class="sidebar">
  <mat-sidenav opened mode="side" [@sidenavToggle]="collapsed() ? 'collapsed' : 'expanded'"
    [style.width]="sidenavWidth()">
    <app-sidebar-component [collapsed]="collapsed()" />
  </mat-sidenav>

  <mat-sidenav-content [@contentShift]="collapsed() ? 'collapsed' : 'expanded'">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>