.panel {
    background: #f1f1f1;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;  
    transition: all 0.3s ease;
  }
  
  mat-icon {
    transition: transform 200ms ease-in-out;
  }
  
  .panel:hover mat-icon {
    transform: rotate(180deg);  
  } 

  .sidebar{
    width: 100%; /* Sidebar chiếm toàn bộ chiều ngang */
    
  }